body {
    font-family: tahoma;
    text-align: center;
    background-color: rgb(208, 0, 255);
}
header {
    letter-spacing: 6px;
    background: black;
    padding: 20px;
    color: gold;
}
img {
    height: 1000px;
    width: 600px;
}
h2 {
    background-color: black;
    color: gold;
    font-size: 2em;
    width: 100%;
}
section {
    padding: 30px;
    margin-bottom: 40px;
}